<%= form_for(@tozitsu) do |f| %>
  <% if @tozitsu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tozitsu.errors.count, "error") %> prohibited this tozitsu from being saved:</h2>

      <ul>
      <% @tozitsu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :納入先 %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :住所 %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :機種 %><br>
    <%= f.text_field :kishu %>
  </div>
  <div class="field">
    <%= f.label :異常内容 %><br>
    <%= f.text_field :error %>
  </div>
  <div class="field">
    <%= f.label :備考 %><br>
    <%= f.text_area :content %>
  </div>
    <div class="field">
    <%= f.label :受付画面   %><br>
    <%= f.file_field :image %>
  </div>
    <div class="field">
    <%= f.label :受付日 %><br>
    <%= f.date_select :uketsuke %>
  </div>
  <div class="field">
    <%= f.label :再コール %><br>
    <%= f.check_box :retry %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
