<p id="notice"><%= notice %></p>

<p>
  <strong>納入先:</strong>
  <%= @tozitsu.name %>
</p>

<p>
  <strong>住所:</strong>
  <%= @tozitsu.address %>
</p>

<p>
  <strong>機種:</strong>
  <%= @tozitsu.kishu %>
</p>

<p>
  <strong>異常内容:</strong>
  <%= @tozitsu.error %>
</p>

<p>
  <strong>備考:</strong>
  <%= @tozitsu.content %>
</p>

<p>
  <strong>受付画面:</strong>
  <%= image_tag @tozitsu.image.url %>
</p>

<p>
  <strong>受付日時:</strong>
  <%= @tozitsu.uketsuke %>
</p>

<p>
  <strong>再コール:</strong>
  <%= @tozitsu.retry %>
</p>

<%= link_to 'Edit', edit_tozitsu_path(@tozitsu) %> |
<%= link_to 'Back', tozitsus_path %>
